<div class="navbar-container">
    <nav class="navbar d-flex justify-content-between align-items-center p-3">
        <div class="d-flex gap-2 justify-content-between align-items-center">
            <button class="navbar-toggler navbar-ham-btn" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="assets/logo/github_logo.svg" class="navbar-items">
            <div class="nav-profile-name">gouthamelango</div>
        </div>
        <div class="d-flex gap-2 justify-content-between align-items-center">

            <div class="d-flex align-items-center border rounded-3 px-3 py-2 navbar-search">
                <i class="bi bi-search fs-5 text-secondary me-3"></i>   
                <input type="text" class="form-control border-0 shadow-none p-0" placeholder="Type / to search">
            </div>

            <div class="btn-group rounded-3">
                <button type="button" class="btn border navbar-btn">
                    <i class="bi bi-claude"></i>
                </button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split border navbar-btn" id="dropdownMenuReference"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="dropdown border rounded-3 ">
                <button class="btn dropdown-toggle navbar-btn" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-plus"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <button type="button" class="btn border rounded-3 navbar-btn"><i class="bi bi-record-circle"></i></button>
            <button type="button" class="btn border rounded-3 navbar-btn"><i class="bi bi-git"></i></button>
            <button type="button" class="btn border rounded-3 navbar-btn"><i class="bi bi-journal-bookmark"></i></button>

            <img src="assets/logo/github_logo.svg" class="navbar-items">
        </div>
    </nav>
    <ul class="nav nav-tabs border-0">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="bi bi-book me-1"></i>
                Overview
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-journal me-1"></i>
                Repositories
                <span class="badge rounded-pill bg-secondary ms-1">27</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-grid me-1"></i>
                Projects
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-box me-1"></i>
                Packages
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-star me-1"></i>
                Stars
            </a>
        </li>
    </ul>
</div>