<div class="navbar-container">
    <nav class="navbar d-flex justify-content-between align-items-center p-3">
        <div class="d-flex gap-2 align-items-center">
            <button class="navbar-toggler navbar-ham-btn" type="button" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="assets/logo/github_logo.svg" class="navbar-items">
            <div class="nav-profile-name">{{githubUsername()}}</div>
        </div>
        <div class="d-flex gap-2 align-items-center">

            <div class="d-none d-md-flex align-items-center border rounded-3 px-3 py-2 navbar-search">
                <i class="bi bi-search fs-5 text-secondary me-3"></i>
                <input type="text" class="form-control border-0 shadow-none p-0" placeholder="Type / to search">
            </div>
            <button type="button" class="btn border rounded-3 navbar-btn d-md-none">
                <i class="bi bi-search"></i>
            </button>

            <div class="btn-group rounded-3 d-none d-md-flex">
                <button type="button" class="btn border navbar-btn">
                    <i class="bi bi-claude"></i>
                </button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split border navbar-btn"
                    id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="btn-group rounded-3">
                <button type="button" class="btn border navbar-btn d-none d-md-inline-flex">
                    <i class="bi bi-plus-lg"></i>
                </button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split border navbar-btn"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">New repository</a></li>
                    <li><a class="dropdown-item" href="#">Import repository</a></li>
                    <li><a class="dropdown-item" href="#">New gist</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">New organization</a></li>
                </ul>
            </div>

            <button type="button" class="btn border rounded-3 navbar-btn d-none d-md-inline-flex">
                <i class="bi bi-record-circle"></i>
            </button>
            <button type="button" class="btn border rounded-3 navbar-btn d-none d-md-inline-flex">
                <i class="bi bi-git"></i>
            </button>
            <button type="button" class="btn border rounded-3 navbar-btn d-none d-md-inline-flex">
                <i class="bi bi-journal-bookmark"></i>
            </button>

            <img src="assets/images/avatar.png" class="navbar-items rounded-circle">
        </div>
    </nav>
    <div *ngIf="githubUsername()">
        <ul class="nav nav-tabs border-0 navbar-tabs">
            <li class="nav-item">
                <a class="nav-link active" (click)="changeTab('overview')">
                    <i class="bi bi-book me-1"></i>
                    Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeTab('repositories')">
                    <i class="bi bi-journal me-1"></i>
                    Repositories
                    <span class="badge rounded-pill navbar-badge ms-1">27</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeTab('projects')">
                    <i class="bi bi-grid me-1"></i>
                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeTab('packages')">
                    <i class="bi bi-box me-1"></i>
                    Packages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="changeTab('stars')">
                    <i class="bi bi-star me-1"></i>
                    Stars
                    <span class="badge rounded-pill navbar-badge ms-1">5</span>
                </a>
            </li>
        </ul>
    </div>
</div>