<div>
    <div class="overview-container d-flex justify-content-between gap-3 ">
        <p>Pinned</p>
        <a>Customize your pins</a>
    </div>

    <div *ngIf="repositories() as repositories" class="repo-grid">
        <app-repo-card *ngFor="let eachRepository of repositories" [repository]="eachRepository"></app-repo-card>
    </div>
    <div class="contribution-container my-2 py-2">
        <p>2,310 contributions in the last year</p>
        <div class="contribution-chart border p-2 rounded-2">
            <app-contibution-graph [contributions]="contributionData"></app-contibution-graph>
        </div>
    </div>

</div>