<div>
    <div class="overview-container d-flex justify-content-between gap-3">
        <p>Pinned</p>
        <a>Customize your pins</a>
    </div>

    <div *ngIf="repositories() as repositories" class="repo-grid">
        <app-repo-card *ngFor="let eachRepository of repositories" [repository]="eachRepository"></app-repo-card>
    </div>


    <p>2,310 contributions in the last year</p>
    <div class="row">
        <div class="col-lg-10 border rounder-2 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <app-contibution-graph [contributions]="contributionData"></app-contibution-graph>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-sm-12 activity-container">
                    <h6>Activity overview</h6>
                    <div class="d-flex gap-1 mt-3">
                        <i class="bi bi-journal-bookmark"></i>
                        <p>
                            Contributed to <span>Uptime/uptime_webapp</span>,
                            <span>Uptime/uptime_server</span>,
                            <span>Uptime/uptime_ml</span>
                            and
                            13 other repositories
                        </p>
                    </div>
                </div>
                <div class="col-auto px-0">
                    <div class="vr h-100"></div>
                </div>
                <div class="col-lg-5 col-sm-12">
                    <app-radar-graph></app-radar-graph>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="year-picker overflow-auto">
                <div class="list-group">

                    <div *ngFor="let year of years; let i = index" class="overview-year">
                        <button type="button" class="list-group-item list-group-item-action border-0 rounded mb-2"
                            [class.active]="(i === 0 && selectedYear === null) || selectedYear === year"
                            (click)="changeYear(year)"
                            >
                            {{ year }}
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div [class]="{'btn-primary': isPrimary, 'disabled': isDisabled}">Object format</div> -->