.overview-container{
    font-family: 'Mona sans', sans-serif;
    p{
        font-size: 16px;
        font-family:  inherit;
    }
    a{
        font-size: 14px;
        font-family: inherit;
        color: #0969da;
    }
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.repo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 16px;
}

@media (min-width: 992px) {
    .repo-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.activity-container{
    font-size: 14px;
    font-family: "Mona sans", sans-serif;

    span{
        color: #2277DE;
        cursor: pointer;
        font-weight: 600;
    }
    span:hover{
        text-decoration: underline;
    }
}

.overview-year{
    font-size: 14px;
    font-family: "Mona sans", sans-serif;
}

.year-picker{
    height: 500px;
}
.year-picker::-webkit-scrollbar {
  display: none;
}