<div *ngIf="user() as user" class="sidebar-container">

    <div class="d-none d-md-flex flex-column">
        <img src="{{user.avatar_url}}" class="sidebar-profile-image m-2">
        <h5>{{user.name}}</h5>
        <p>{{user.login}}</p>
        <p>{{user.bio}}</p>
    </div>

    <button type="button" class="btn border rounded-2 w-100 edit-profile-btn d-none d-md-block mt-1">Edit profile</button>

    <div class="d-flex d-md-none align-items-center gap-3 mb-3">
        <img src="{{user.avatar_url}}" class="sidebar-profile-image-mobile">
        <div>
            <h5 class="mb-0">{{user.name}}</h5>
            <p class="mb-0 text-secondary">{{user.login}}</p>
        </div>
    </div>

    <p class="d-md-none">{{user.bio}}</p>

    <div *ngIf="user.company" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-building"></i>
        <p class="mb-0">{{user.company}}</p>
    </div>
    <div *ngIf="user.location" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-geo-alt"></i>
        <p class="mb-0">{{user.location}}</p>
    </div>
    <div *ngIf="user.email" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-envelope"></i>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
    </div>
    <div *ngIf="user.blog" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-link-45deg"></i>
        <a href="{{user.blog}}">{{user.blog}}</a>
    </div>
    <div *ngIf="user.twitter_username" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-twitter-x"></i>
        <a href="https://x.com/{{user.twitter_username}}">@{{user.twitter_username}}</a>
    </div>

    <button type="button" class="btn border rounded-2 w-100 edit-profile-btn d-md-none mt-3">Edit profile</button>

</div>
