<div *ngIf="user() as user" class="sidebar-container">
    <div class="d-flex flex-column">
        <img src="{{user.avatar_url}} " class="sidebar-profile-image m-2">
        <h5> {{user.name}} </h5>
        <p> {{user.login}}</p>
        <p>{{user.bio}}</p>
    </div>

    <button type="button" class="btn border rounded-2 w-100 edit-profile-btn">Edit profile</button>
    <div *ngIf="user.company" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-building"></i>
        <p class="mb-0">{{user.company}}</p>
    </div>
    <div *ngIf="user.location" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-geo-alt"></i>
        <p class="mb-0">{{user.location}}</p>
    </div>
    <div *ngIf="user.email" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-envelope"></i>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
    </div>
    <div *ngIf="user.blog" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-link-45deg"></i>
        <a href="{{user.blog}}">{{user.blog}}</a>
    </div>
    <div *ngIf="user.twitter_username" class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-twitter-x"></i>
        <a href="https://x.com/{{user.twitter_username}}">@{{user.twitter_username}}</a>
    </div>
</div>