<div class="sidebar-container">
    <div class="√d-flex flex-column">
        <img src="assets/images/gouthamelango.jpeg" class="sidebar-profile-image">
        <h5>Goutham Elango</h5>
        <p>gouthamelango</p>
        <p>Web & Android Dev | BCA at Christ University.</p>
    </div>

    <button type="button" class="btn border rounded-2 w-100 edit-profile-btn">Edit profile</button>

    <div class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-geo-alt"></i>
        <p>Bangalore,Karnataka,India</p>
    </div>
    <div class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-envelope"></i>
        <a href="mailto:goutham4ashwin@gmail.com">goutham4ashwin@gmail.com</a>
    </div>
    <div class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-link-45deg"></i>
         <a href="https://www.linkedin.com/in/gouthamelango/">https://www.linkedin.com/in/gouthamelango/</a>
    </div>
    <div class="d-flex gap-2 mt-2 profile-bio-items">
        <i class="bi bi-twitter-x"></i>
         <a href="@goutham4elango">@goutham4elango</a>
    </div>
</div>