:host {
  display: block;
  width: 100%;
}

.heatmap-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.heatmap {
  display: block;
  height: 180px;
  min-height: 180px;
  min-width: 720px;
  width: 100%;
}
